<header class="h1_tabletennis">
  卓球練習管理
</header>

<h1 class="title_1">
    練習時間履歴
</h1>

<h1>記録された時間一覧</h1>

<div class="container">
  <% @tabletennistimes.each do |time| %>
    <div class="time-info">
      <div class="time-value"><%= time.date %></div>
      <div class="time-value"><%= time.hour %>時間</div>
      <div class="time-value"><%= time.minutes %>分</div>
    </div>
  <% end %>
</div>

<div class="text-center">
<%= link_to "ホーム画面に戻る", tabletennis_index_path, class: "btn btn-link" %>
</div>