<% @selected_practice_contents.each do |practice_content| %>
    <div class="practice">
        <h2><%= practice_content.post.title %></h2>
        <%= practice_content.tabletennistime.date %> <%= practice_content.tabletennistime.hour %>時間<%= practice_content.tabletennistime.minutes %>分
    </div>
<% end %>